/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body, aside {
    background: #6EA2BD; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #D5E8F2;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */
header, footer { background: #8BCCF0; }

figure { background: #084C70; }


  a:link {
    color: #8BDFF0;
  }

  a:visited {
    color: #D5EDF2;
  }

  a:focus {
    color:#17DFF0
  }

  a:hover {
    color: #71DFF0
  }

  a:active {
    color: #507075
  }
